github-agent.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-agent",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1056,
        1552
      ],
      "id": "d50937c2-5283-4d0e-9034-425829be9dc3",
      "name": "Webhook (GitHub)",
      "webhookId": "d76261bb-1d60-4427-8c61-8d8acbbba595"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "input",
              "type": "string",
              "value": "={{ $json.chatInput }}",
              "id": "20223006-a392-4b98-8ee1-30390d534c0e"
            },
            {
              "name": "source",
              "type": "string",
              "value": "chat",
              "id": "19431327-b541-43c3-8ce3-f616d4da8832"
            },
            {
              "id": "e1cd71ee-e0b8-4034-ba23-302696f089cc",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        1168
      ],
      "id": "78eb13b6-f628-495b-bb56-4b7184457c28",
      "name": "Normalize Chat"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        -624,
        1760
      ],
      "id": "79ffe839-fc55-4d42-906d-50bde37d9e67",
      "name": "Build Prompt (GitHub → Agent)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "source",
              "type": "string",
              "value": "webhook",
              "id": "703a8f84-b3e0-4b5d-b1ce-2c85b4ab542b"
            },
            {
              "id": "40e61121-300c-4b15-84fd-d83b4aeb1a73",
              "name": "input",
              "value": "={{ $json.input }}",
              "type": "string"
            },
            {
              "id": "d6895c0d-e97f-4ea2-a79f-e869c178b19d",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        1536
      ],
      "id": "a8eb5732-b7c5-4f38-a821-723502020f8c",
      "name": "Normalize Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -112,
        1328
      ],
      "id": "b2b197e2-47ac-4885-9d2c-369866a4865c",
      "name": "Merge Inputs"
    },
    {
      "parameters": {
        "endpointUrl": "https://api.githubcopilot.com/mcp/",
        "serverTransport": "httpStreamable",
        "authentication": "bearerAuth"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        480,
        1744
      ],
      "id": "9cf4a5b4-2992-469a-b59e-3857a1f5cf28",
      "name": "MCP Client",
      "credentials": {
        "httpBearerAuth": {
          "id": "TlKvhUhoSV0Awd76",
          "name": "Bearer Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.output }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "906a4c20-5a96-4ad5-952d-eb1458bf3e00"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        1344
      ],
      "id": "398ec50b-0e3a-4980-a7a9-35a178ee1a92",
      "name": "If Output Not Empty"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "reply",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        1408
      ],
      "id": "0231d0ee-584a-4a09-beab-7862e131a2ce",
      "name": "Make Reply"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.source }}",
              "rightValue": "webhook",
              "operator": {
                "type": "string",
                "operation": "equal"
              },
              "id": "eb6d9f3a-e0dd-447b-bc82-f8fd4691ccad"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        848,
        1408
      ],
      "id": "f658710e-cf2c-4bdd-98cc-3f00533bb769",
      "name": "If Source is Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1072,
        1360
      ],
      "id": "afc8c680-dd0d-4c81-8889-6b593507bb2a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "reply",
              "type": "string",
              "value": "Something went wrong, please try again."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        1536
      ],
      "id": "c44a6216-dfe0-43d5-8a0b-15fd3fc4fe28",
      "name": "Fallback Reply"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        1520
      ],
      "id": "01a66817-404e-40fe-ba0d-dd63fe194977",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "qieYPOeIGjVQfBUZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 1000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        1536
      ],
      "id": "47735d9d-dc28-4437-b387-4da9efbfa9f2",
      "name": "Simple Memory1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        304,
        1568
      ],
      "id": "6cd347a2-2d12-491c-b1d3-cbaa75db531b",
      "name": "Think1"
    },
    {
      "parameters": {
        "jsCode": "// Function node: \"Build Prompt (GitHub → Agent)\"\n\n// Expecting a GitHub PR webhook payload under $json.body\nconst b = $json.body || $json;\n\nconst H = $json.headers || {};\nconst get = (o, p, d = undefined) => p.split('.').reduce((x, k) => (x && k in x ? x[k] : undefined), o) ?? d;\nconst safe = (v) => (v === undefined || v === null ? '' : String(v));\n\nlet input;\nlet sessionId;     // <- requested\nlet meta = {};     // <- structured important fields (handy for tools)\n\n// Build from PR payload if present\nif (b && b.pull_request) {\n  const pr    = b.pull_request;\n  const repo  = b.repository || {};\n  const act   = safe(b.action);\n  const prNum = pr.number ?? b.number;\n  const title = safe(pr.title);\n  const state = safe(pr.state);\n  const head  = safe(get(pr, 'head.ref'));\n  const base  = safe(get(pr, 'base.ref'));\n  const sha   = safe(get(pr, 'head.sha'));\n  const authorLogin = safe(get(pr, 'user.login'));\n\n  // Stats (may be on root or pull_request depending on event)\n  const additions = (pr.additions ?? b.additions ?? '');\n  const deletions = (pr.deletions ?? b.deletions ?? '');\n  const files     = (pr.changed_files ?? b.changed_files ?? '');\n  const commits   = (pr.commits ?? b.commits ?? '');\n\n  // Links\n  const prUrl   = pr.html_url || '';\n  const diffUrl = pr.diff_url  || '';\n  const issueUrl = pr.issue_url || '';\n\n  // Build a stable sessionId:\n  // prefer repo/name + PR# + headRef; fall back to GitHub delivery id; then to PR node_id; then time.\n  const delivery = safe(H['x-github-delivery']);\n  sessionId =\n    [repo.full_name, prNum, head].filter(Boolean).join(':') ||\n    delivery ||\n    safe(pr.node_id) ||\n    `pr-${Date.now()}`;\n\n  // Important fields bundle (available to downstream nodes)\n  meta = {\n    event: safe(H['x-github-event'] || 'pull_request'),\n    deliveryId: delivery || '',\n    repoFullName: safe(repo.full_name),\n    repoPrivate: !!repo.private,\n    prNumber: prNum ?? '',\n    prId: pr.id ?? '',\n    prNodeId: safe(pr.node_id),\n    title,\n    state,\n    action: act,\n    authorLogin,\n    headRef: head,\n    baseRef: base,\n    headSha: sha,\n    stats: {\n      additions,\n      deletions,\n      changedFiles: files,\n      commits\n    },\n    links: { prUrl, diffUrl, issueUrl }\n  };\n\n  // Natural-language prompt for the agent\n  input = [\n    \"You are a GitHub Pull Request assistant.\",\n    \"Summarize the PR, flag issues, and propose a concise checklist of actions.\",\n    \"\",\n    \"PR Context:\",\n    `- Repository: ${safe(repo.full_name)}`,\n    `- PR #${safe(prNum)}: ${title}`,\n    `- Action: ${act}`,\n    `- State: ${state}`,\n    `- Author: ${authorLogin}`,\n    `- Branch: ${head} → ${base}`,\n    `- Head SHA: ${sha}`,\n    `- Stats: +${additions} / -${deletions} • files: ${files} • commits: ${commits}`,\n    \"\",\n    \"Links:\",\n    prUrl   ? `- PR: ${prUrl}`   : \"\",\n    diffUrl ? `- Diff: ${diffUrl}` : \"\",\n    issueUrl? `- Issue: ${issueUrl}`: \"\",\n    \"\",\n    \"Output format:\",\n    \"1) One-paragraph summary\",\n    \"2) Bulleted risks/concerns (lint/tests/security/architecture/perf)\",\n    \"3) Suggested review checklist (actionable, short)\",\n    \"4) Merge recommendation (yes/no + rationale)\"\n  ].filter(Boolean).join(\"\\n\");\n} else {\n  // Not a PR payload — fallback to a generic echo so the agent still runs\n  input = safe($json.body?.text || $json.body?.message || $json.query?.q || \"Hello!\");\n  sessionId = safe(H['x-github-delivery'] || $json.chatId || 'default');\n}\n\n// Pass through chatId if upstream set it (Normalize Webhook / Normalize Chat)\nconst chatId = $json.chatId || 'default';\nconst source = $json.source || (b && b.pull_request ? 'webhook' : 'chat');\n\n// Return to the flow\nreturn [{\n  json: {\n    input,\n    sessionId,   // <- added\n    chatId,\n    source,\n    meta         // <- structured important fields for tools/logging\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        1536
      ],
      "id": "e07406d8-08b2-4fa2-840f-9bb6d60c14b6",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        96,
        1328
      ],
      "id": "cd646f56-8c5a-453f-b3b3-111c942233e3",
      "name": "AI Agent2"
    }
  ],
  "connections": {
    "Webhook (GitHub)": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Chat": {
      "main": [
        [
          {
            "node": "Merge Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Webhook": {
      "main": [
        [
          {
            "node": "Merge Inputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Inputs": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If Output Not Empty": {
      "main": [
        [
          {
            "node": "Make Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Reply": {
      "main": [
        [
          {
            "node": "If Source is Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Source is Webhook": {
      "main": [
        []
      ]
    },
    "Fallback Reply": {
      "main": [
        [
          {
            "node": "If Source is Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Normalize Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "If Output Not Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook (GitHub)": [
      {
        "headers": {
          "connection": "upgrade",
          "host": "n8n.onezy.in",
          "x-real-ip": "140.82.115.169",
          "x-forwarded-for": "140.82.115.169",
          "x-forwarded-proto": "https",
          "content-length": "23326",
          "user-agent": "GitHub-Hookshot/7f0b353",
          "accept": "*/*",
          "content-type": "application/json",
          "x-github-delivery": "05b63310-7d14-11f0-9a2e-8f41cfbd04a5",
          "x-github-event": "pull_request",
          "x-github-hook-id": "563205878",
          "x-github-hook-installation-target-id": "1762091",
          "x-github-hook-installation-target-type": "integration",
          "x-hub-signature": "sha1=626afab02e7b5c9a568480a74723787be8d6d3d0",
          "x-hub-signature-256": "sha256=4459c09129f66456081fa000085a9ab15654988cf25f42e21a42037ec058a658"
        },
        "params": {},
        "query": {},
        "body": {
          "action": "synchronize",
          "number": 1,
          "pull_request": {
            "url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/pulls/1",
            "id": 2734668630,
            "node_id": "PR_kwDOPDbEdM6i_7tW",
            "html_url": "https://github.com/Ranjeet0302Singh/CPP-DSA/pull/1",
            "diff_url": "https://github.com/Ranjeet0302Singh/CPP-DSA/pull/1.diff",
            "patch_url": "https://github.com/Ranjeet0302Singh/CPP-DSA/pull/1.patch",
            "issue_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/issues/1",
            "number": 1,
            "state": "open",
            "locked": false,
            "title": "Create webhook-README.md",
            "user": {
              "login": "Ranjeet0302Singh",
              "id": 93567891,
              "node_id": "U_kgDOBZO7kw",
              "avatar_url": "https://avatars.githubusercontent.com/u/93567891?v=4",
              "gravatar_id": "",
              "url": "https://api.github.com/users/Ranjeet0302Singh",
              "html_url": "https://github.com/Ranjeet0302Singh",
              "followers_url": "https://api.github.com/users/Ranjeet0302Singh/followers",
              "following_url": "https://api.github.com/users/Ranjeet0302Singh/following{/other_user}",
              "gists_url": "https://api.github.com/users/Ranjeet0302Singh/gists{/gist_id}",
              "starred_url": "https://api.github.com/users/Ranjeet0302Singh/starred{/owner}{/repo}",
              "subscriptions_url": "https://api.github.com/users/Ranjeet0302Singh/subscriptions",
              "organizations_url": "https://api.github.com/users/Ranjeet0302Singh/orgs",
              "repos_url": "https://api.github.com/users/Ranjeet0302Singh/repos",
              "events_url": "https://api.github.com/users/Ranjeet0302Singh/events{/privacy}",
              "received_events_url": "https://api.github.com/users/Ranjeet0302Singh/received_events",
              "type": "User",
              "user_view_type": "public",
              "site_admin": false
            },
            "body": null,
            "created_at": "2025-08-11T08:52:20Z",
            "updated_at": "2025-08-19T15:48:59Z",
            "closed_at": null,
            "merged_at": null,
            "merge_commit_sha": null,
            "assignee": null,
            "assignees": [],
            "requested_reviewers": [],
            "requested_teams": [],
            "labels": [],
            "milestone": null,
            "draft": false,
            "commits_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/pulls/1/commits",
            "review_comments_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/pulls/1/comments",
            "review_comment_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/pulls/comments{/number}",
            "comments_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/issues/1/comments",
            "statuses_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/statuses/6ac57887b0b8994534a246d487346fd4d50bc544",
            "head": {
              "label": "Ranjeet0302Singh:test-webhook",
              "ref": "test-webhook",
              "sha": "6ac57887b0b8994534a246d487346fd4d50bc544",
              "user": {
                "login": "Ranjeet0302Singh",
                "id": 93567891,
                "node_id": "U_kgDOBZO7kw",
                "avatar_url": "https://avatars.githubusercontent.com/u/93567891?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/Ranjeet0302Singh",
                "html_url": "https://github.com/Ranjeet0302Singh",
                "followers_url": "https://api.github.com/users/Ranjeet0302Singh/followers",
                "following_url": "https://api.github.com/users/Ranjeet0302Singh/following{/other_user}",
                "gists_url": "https://api.github.com/users/Ranjeet0302Singh/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/Ranjeet0302Singh/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/Ranjeet0302Singh/subscriptions",
                "organizations_url": "https://api.github.com/users/Ranjeet0302Singh/orgs",
                "repos_url": "https://api.github.com/users/Ranjeet0302Singh/repos",
                "events_url": "https://api.github.com/users/Ranjeet0302Singh/events{/privacy}",
                "received_events_url": "https://api.github.com/users/Ranjeet0302Singh/received_events",
                "type": "User",
                "user_view_type": "public",
                "site_admin": false
              },
              "repo": {
                "id": 1010222196,
                "node_id": "R_kgDOPDbEdA",
                "name": "CPP-DSA",
                "full_name": "Ranjeet0302Singh/CPP-DSA",
                "private": true,
                "owner": {
                  "login": "Ranjeet0302Singh",
                  "id": 93567891,
                  "node_id": "U_kgDOBZO7kw",
                  "avatar_url": "https://avatars.githubusercontent.com/u/93567891?v=4",
                  "gravatar_id": "",
                  "url": "https://api.github.com/users/Ranjeet0302Singh",
                  "html_url": "https://github.com/Ranjeet0302Singh",
                  "followers_url": "https://api.github.com/users/Ranjeet0302Singh/followers",
                  "following_url": "https://api.github.com/users/Ranjeet0302Singh/following{/other_user}",
                  "gists_url": "https://api.github.com/users/Ranjeet0302Singh/gists{/gist_id}",
                  "starred_url": "https://api.github.com/users/Ranjeet0302Singh/starred{/owner}{/repo}",
                  "subscriptions_url": "https://api.github.com/users/Ranjeet0302Singh/subscriptions",
                  "organizations_url": "https://api.github.com/users/Ranjeet0302Singh/orgs",
                  "repos_url": "https://api.github.com/users/Ranjeet0302Singh/repos",
                  "events_url": "https://api.github.com/users/Ranjeet0302Singh/events{/privacy}",
                  "received_events_url": "https://api.github.com/users/Ranjeet0302Singh/received_events",
                  "type": "User",
                  "user_view_type": "public",
                  "site_admin": false
                },
                "html_url": "https://github.com/Ranjeet0302Singh/CPP-DSA",
                "description": null,
                "fork": false,
                "url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA",
                "forks_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/forks",
                "keys_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/keys{/key_id}",
                "collaborators_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/collaborators{/collaborator}",
                "teams_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/teams",
                "hooks_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/hooks",
                "issue_events_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/issues/events{/number}",
                "events_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/events",
                "assignees_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/assignees{/user}",
                "branches_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/branches{/branch}",
                "tags_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/tags",
                "blobs_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/git/blobs{/sha}",
                "git_tags_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/git/tags{/sha}",
                "git_refs_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/git/refs{/sha}",
                "trees_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/git/trees{/sha}",
                "statuses_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/statuses/{sha}",
                "languages_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/languages",
                "stargazers_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/stargazers",
                "contributors_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/contributors",
                "subscribers_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/subscribers",
                "subscription_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/subscription",
                "commits_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/commits{/sha}",
                "git_commits_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/git/commits{/sha}",
                "comments_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/comments{/number}",
                "issue_comment_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/issues/comments{/number}",
                "contents_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/contents/{+path}",
                "compare_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/compare/{base}...{head}",
                "merges_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/merges",
                "archive_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/{archive_format}{/ref}",
                "downloads_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/downloads",
                "issues_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/issues{/number}",
                "pulls_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/pulls{/number}",
                "milestones_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/milestones{/number}",
                "notifications_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/notifications{?since,all,participating}",
                "labels_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/labels{/name}",
                "releases_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/releases{/id}",
                "deployments_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/deployments",
                "created_at": "2025-06-28T16:00:45Z",
                "updated_at": "2025-08-19T03:30:18Z",
                "pushed_at": "2025-08-19T15:48:59Z",
                "git_url": "git://github.com/Ranjeet0302Singh/CPP-DSA.git",
                "ssh_url": "git@github.com:Ranjeet0302Singh/CPP-DSA.git",
                "clone_url": "https://github.com/Ranjeet0302Singh/CPP-DSA.git",
                "svn_url": "https://github.com/Ranjeet0302Singh/CPP-DSA",
                "homepage": null,
                "size": 183,
                "stargazers_count": 0,
                "watchers_count": 0,
                "language": "C++",
                "has_issues": true,
                "has_projects": true,
                "has_downloads": true,
                "has_wiki": false,
                "has_pages": false,
                "has_discussions": false,
                "forks_count": 0,
                "mirror_url": null,
                "archived": false,
                "disabled": false,
                "open_issues_count": 2,
                "license": null,
                "allow_forking": true,
                "is_template": false,
                "web_commit_signoff_required": false,
                "topics": [],
                "visibility": "private",
                "forks": 0,
                "open_issues": 2,
                "watchers": 0,
                "default_branch": "main",
                "allow_squash_merge": true,
                "allow_merge_commit": true,
                "allow_rebase_merge": true,
                "allow_auto_merge": false,
                "delete_branch_on_merge": false,
                "allow_update_branch": false,
                "use_squash_pr_title_as_default": false,
                "squash_merge_commit_message": "COMMIT_MESSAGES",
                "squash_merge_commit_title": "COMMIT_OR_PR_TITLE",
                "merge_commit_message": "PR_TITLE",
                "merge_commit_title": "MERGE_MESSAGE"
              }
            },
            "base": {
              "label": "Ranjeet0302Singh:main",
              "ref": "main",
              "sha": "ace4b09d3963f2087c725450bfffcf5715dae73c",
              "user": {
                "login": "Ranjeet0302Singh",
                "id": 93567891,
                "node_id": "U_kgDOBZO7kw",
                "avatar_url": "https://avatars.githubusercontent.com/u/93567891?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/Ranjeet0302Singh",
                "html_url": "https://github.com/Ranjeet0302Singh",
                "followers_url": "https://api.github.com/users/Ranjeet0302Singh/followers",
                "following_url": "https://api.github.com/users/Ranjeet0302Singh/following{/other_user}",
                "gists_url": "https://api.github.com/users/Ranjeet0302Singh/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/Ranjeet0302Singh/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/Ranjeet0302Singh/subscriptions",
                "organizations_url": "https://api.github.com/users/Ranjeet0302Singh/orgs",
                "repos_url": "https://api.github.com/users/Ranjeet0302Singh/repos",
                "events_url": "https://api.github.com/users/Ranjeet0302Singh/events{/privacy}",
                "received_events_url": "https://api.github.com/users/Ranjeet0302Singh/received_events",
                "type": "User",
                "user_view_type": "public",
                "site_admin": false
              },
              "repo": {
                "id": 1010222196,
                "node_id": "R_kgDOPDbEdA",
                "name": "CPP-DSA",
                "full_name": "Ranjeet0302Singh/CPP-DSA",
                "private": true,
                "owner": {
                  "login": "Ranjeet0302Singh",
                  "id": 93567891,
                  "node_id": "U_kgDOBZO7kw",
                  "avatar_url": "https://avatars.githubusercontent.com/u/93567891?v=4",
                  "gravatar_id": "",
                  "url": "https://api.github.com/users/Ranjeet0302Singh",
                  "html_url": "https://github.com/Ranjeet0302Singh",
                  "followers_url": "https://api.github.com/users/Ranjeet0302Singh/followers",
                  "following_url": "https://api.github.com/users/Ranjeet0302Singh/following{/other_user}",
                  "gists_url": "https://api.github.com/users/Ranjeet0302Singh/gists{/gist_id}",
                  "starred_url": "https://api.github.com/users/Ranjeet0302Singh/starred{/owner}{/repo}",
                  "subscriptions_url": "https://api.github.com/users/Ranjeet0302Singh/subscriptions",
                  "organizations_url": "https://api.github.com/users/Ranjeet0302Singh/orgs",
                  "repos_url": "https://api.github.com/users/Ranjeet0302Singh/repos",
                  "events_url": "https://api.github.com/users/Ranjeet0302Singh/events{/privacy}",
                  "received_events_url": "https://api.github.com/users/Ranjeet0302Singh/received_events",
                  "type": "User",
                  "user_view_type": "public",
                  "site_admin": false
                },
                "html_url": "https://github.com/Ranjeet0302Singh/CPP-DSA",
                "description": null,
                "fork": false,
                "url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA",
                "forks_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/forks",
                "keys_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/keys{/key_id}",
                "collaborators_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/collaborators{/collaborator}",
                "teams_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/teams",
                "hooks_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/hooks",
                "issue_events_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/issues/events{/number}",
                "events_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/events",
                "assignees_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/assignees{/user}",
                "branches_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/branches{/branch}",
                "tags_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/tags",
                "blobs_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/git/blobs{/sha}",
                "git_tags_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/git/tags{/sha}",
                "git_refs_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/git/refs{/sha}",
                "trees_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/git/trees{/sha}",
                "statuses_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/statuses/{sha}",
                "languages_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/languages",
                "stargazers_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/stargazers",
                "contributors_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/contributors",
                "subscribers_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/subscribers",
                "subscription_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/subscription",
                "commits_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/commits{/sha}",
                "git_commits_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/git/commits{/sha}",
                "comments_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/comments{/number}",
                "issue_comment_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/issues/comments{/number}",
                "contents_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/contents/{+path}",
                "compare_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/compare/{base}...{head}",
                "merges_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/merges",
                "archive_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/{archive_format}{/ref}",
                "downloads_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/downloads",
                "issues_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/issues{/number}",
                "pulls_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/pulls{/number}",
                "milestones_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/milestones{/number}",
                "notifications_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/notifications{?since,all,participating}",
                "labels_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/labels{/name}",
                "releases_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/releases{/id}",
                "deployments_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/deployments",
                "created_at": "2025-06-28T16:00:45Z",
                "updated_at": "2025-08-19T03:30:18Z",
                "pushed_at": "2025-08-19T15:48:59Z",
                "git_url": "git://github.com/Ranjeet0302Singh/CPP-DSA.git",
                "ssh_url": "git@github.com:Ranjeet0302Singh/CPP-DSA.git",
                "clone_url": "https://github.com/Ranjeet0302Singh/CPP-DSA.git",
                "svn_url": "https://github.com/Ranjeet0302Singh/CPP-DSA",
                "homepage": null,
                "size": 183,
                "stargazers_count": 0,
                "watchers_count": 0,
                "language": "C++",
                "has_issues": true,
                "has_projects": true,
                "has_downloads": true,
                "has_wiki": false,
                "has_pages": false,
                "has_discussions": false,
                "forks_count": 0,
                "mirror_url": null,
                "archived": false,
                "disabled": false,
                "open_issues_count": 2,
                "license": null,
                "allow_forking": true,
                "is_template": false,
                "web_commit_signoff_required": false,
                "topics": [],
                "visibility": "private",
                "forks": 0,
                "open_issues": 2,
                "watchers": 0,
                "default_branch": "main",
                "allow_squash_merge": true,
                "allow_merge_commit": true,
                "allow_rebase_merge": true,
                "allow_auto_merge": false,
                "delete_branch_on_merge": false,
                "allow_update_branch": false,
                "use_squash_pr_title_as_default": false,
                "squash_merge_commit_message": "COMMIT_MESSAGES",
                "squash_merge_commit_title": "COMMIT_OR_PR_TITLE",
                "merge_commit_message": "PR_TITLE",
                "merge_commit_title": "MERGE_MESSAGE"
              }
            },
            "_links": {
              "self": {
                "href": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/pulls/1"
              },
              "html": {
                "href": "https://github.com/Ranjeet0302Singh/CPP-DSA/pull/1"
              },
              "issue": {
                "href": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/issues/1"
              },
              "comments": {
                "href": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/issues/1/comments"
              },
              "review_comments": {
                "href": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/pulls/1/comments"
              },
              "review_comment": {
                "href": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/pulls/comments{/number}"
              },
              "commits": {
                "href": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/pulls/1/commits"
              },
              "statuses": {
                "href": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/statuses/6ac57887b0b8994534a246d487346fd4d50bc544"
              }
            },
            "author_association": "OWNER",
            "auto_merge": null,
            "active_lock_reason": null,
            "merged": false,
            "mergeable": null,
            "rebaseable": null,
            "mergeable_state": "unknown",
            "merged_by": null,
            "comments": 0,
            "review_comments": 6,
            "maintainer_can_modify": false,
            "commits": 9,
            "additions": 7,
            "deletions": 30,
            "changed_files": 6
          },
          "before": "fc0771ba50c79779a6f86a7520f429cbba35b481",
          "after": "6ac57887b0b8994534a246d487346fd4d50bc544",
          "repository": {
            "id": 1010222196,
            "node_id": "R_kgDOPDbEdA",
            "name": "CPP-DSA",
            "full_name": "Ranjeet0302Singh/CPP-DSA",
            "private": true,
            "owner": {
              "login": "Ranjeet0302Singh",
              "id": 93567891,
              "node_id": "U_kgDOBZO7kw",
              "avatar_url": "https://avatars.githubusercontent.com/u/93567891?v=4",
              "gravatar_id": "",
              "url": "https://api.github.com/users/Ranjeet0302Singh",
              "html_url": "https://github.com/Ranjeet0302Singh",
              "followers_url": "https://api.github.com/users/Ranjeet0302Singh/followers",
              "following_url": "https://api.github.com/users/Ranjeet0302Singh/following{/other_user}",
              "gists_url": "https://api.github.com/users/Ranjeet0302Singh/gists{/gist_id}",
              "starred_url": "https://api.github.com/users/Ranjeet0302Singh/starred{/owner}{/repo}",
              "subscriptions_url": "https://api.github.com/users/Ranjeet0302Singh/subscriptions",
              "organizations_url": "https://api.github.com/users/Ranjeet0302Singh/orgs",
              "repos_url": "https://api.github.com/users/Ranjeet0302Singh/repos",
              "events_url": "https://api.github.com/users/Ranjeet0302Singh/events{/privacy}",
              "received_events_url": "https://api.github.com/users/Ranjeet0302Singh/received_events",
              "type": "User",
              "user_view_type": "public",
              "site_admin": false
            },
            "html_url": "https://github.com/Ranjeet0302Singh/CPP-DSA",
            "description": null,
            "fork": false,
            "url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA",
            "forks_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/forks",
            "keys_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/keys{/key_id}",
            "collaborators_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/collaborators{/collaborator}",
            "teams_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/teams",
            "hooks_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/hooks",
            "issue_events_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/issues/events{/number}",
            "events_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/events",
            "assignees_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/assignees{/user}",
            "branches_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/branches{/branch}",
            "tags_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/tags",
            "blobs_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/git/blobs{/sha}",
            "git_tags_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/git/tags{/sha}",
            "git_refs_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/git/refs{/sha}",
            "trees_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/git/trees{/sha}",
            "statuses_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/statuses/{sha}",
            "languages_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/languages",
            "stargazers_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/stargazers",
            "contributors_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/contributors",
            "subscribers_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/subscribers",
            "subscription_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/subscription",
            "commits_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/commits{/sha}",
            "git_commits_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/git/commits{/sha}",
            "comments_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/comments{/number}",
            "issue_comment_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/issues/comments{/number}",
            "contents_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/contents/{+path}",
            "compare_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/compare/{base}...{head}",
            "merges_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/merges",
            "archive_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/{archive_format}{/ref}",
            "downloads_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/downloads",
            "issues_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/issues{/number}",
            "pulls_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/pulls{/number}",
            "milestones_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/milestones{/number}",
            "notifications_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/notifications{?since,all,participating}",
            "labels_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/labels{/name}",
            "releases_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/releases{/id}",
            "deployments_url": "https://api.github.com/repos/Ranjeet0302Singh/CPP-DSA/deployments",
            "created_at": "2025-06-28T16:00:45Z",
            "updated_at": "2025-08-19T03:30:18Z",
            "pushed_at": "2025-08-19T15:48:59Z",
            "git_url": "git://github.com/Ranjeet0302Singh/CPP-DSA.git",
            "ssh_url": "git@github.com:Ranjeet0302Singh/CPP-DSA.git",
            "clone_url": "https://github.com/Ranjeet0302Singh/CPP-DSA.git",
            "svn_url": "https://github.com/Ranjeet0302Singh/CPP-DSA",
            "homepage": null,
            "size": 183,
            "stargazers_count": 0,
            "watchers_count": 0,
            "language": "C++",
            "has_issues": true,
            "has_projects": true,
            "has_downloads": true,
            "has_wiki": false,
            "has_pages": false,
            "has_discussions": false,
            "forks_count": 0,
            "mirror_url": null,
            "archived": false,
            "disabled": false,
            "open_issues_count": 2,
            "license": null,
            "allow_forking": true,
            "is_template": false,
            "web_commit_signoff_required": false,
            "topics": [],
            "visibility": "private",
            "forks": 0,
            "open_issues": 2,
            "watchers": 0,
            "default_branch": "main"
          },
          "sender": {
            "login": "Ranjeet0302Singh",
            "id": 93567891,
            "node_id": "U_kgDOBZO7kw",
            "avatar_url": "https://avatars.githubusercontent.com/u/93567891?v=4",
            "gravatar_id": "",
            "url": "https://api.github.com/users/Ranjeet0302Singh",
            "html_url": "https://github.com/Ranjeet0302Singh",
            "followers_url": "https://api.github.com/users/Ranjeet0302Singh/followers",
            "following_url": "https://api.github.com/users/Ranjeet0302Singh/following{/other_user}",
            "gists_url": "https://api.github.com/users/Ranjeet0302Singh/gists{/gist_id}",
            "starred_url": "https://api.github.com/users/Ranjeet0302Singh/starred{/owner}{/repo}",
            "subscriptions_url": "https://api.github.com/users/Ranjeet0302Singh/subscriptions",
            "organizations_url": "https://api.github.com/users/Ranjeet0302Singh/orgs",
            "repos_url": "https://api.github.com/users/Ranjeet0302Singh/repos",
            "events_url": "https://api.github.com/users/Ranjeet0302Singh/events{/privacy}",
            "received_events_url": "https://api.github.com/users/Ranjeet0302Singh/received_events",
            "type": "User",
            "user_view_type": "public",
            "site_admin": false
          },
          "installation": {
            "id": 80341640,
            "node_id": "MDIzOkludGVncmF0aW9uSW5zdGFsbGF0aW9uODAzNDE2NDA="
          }
        },
        "webhookUrl": "https://n8n.onezy.in/webhook/github-agent",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c2e88663528fa99431e999fc0fe7385065b21006c8c8235c1c5f827917e418a"
  }
}